.nav {
    background-color: rgb(210, 105, 30);
    height: 3em;
    display: flex;
    align-items: center;
    &__list {
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: space-around;
    }

    &__link {
        text-decoration: none;
        color: rgb(167, 255, 243);
        font-size: 20px;
        font-family: 'Raleway';
    }

    &__link:hover {
        color: black;
    }
}